body {
  font-family: verdana;
  background: #f4f5f7;
}
#main-container {
}
#col-container {
  background: linear-gradient(#7ee8fa, #f2fcfe);
}

#wrapper {
}
.panels {
  position: relative;
  top: -100px;
}

@media (max-width: 468px) {
  h1 {
    color: blue;
  }

  .comen {
    color: blue;
  }
}

h1 {
  color: #333;
  text-align: center;
  font-size: 40px;
}
.comen {
  color: blue;
  font-size: 40px;
}
.panels {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.panels li {
  position: relative;
  width: 30%;

  margin: 0 auto;
  display: block;

  box-sizing: border-box;
}

.panels img {
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: 70%;
}

.panels li div {
  width: 100%;
  padding: 50% 0;
  text-align: center;
  color: #333;
  font-size: 20px;
  line-height: 0;
  letter-spacing: 5px;
  cursor: pointer;
}

.panels div.back {
  transform: rotateY(90deg);
}

.panels div.front {
  position: absolute;
}

.panels li:hover div.front {
  animation: twirl 0.22s ease-in forwards;
}

.panels li:hover div.back {
  animation: twirl 0.2s 0.2s ease-in forwards reverse;
}

@keyframes twirl {
  0% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(30deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
#head-wrapper-menu {
  position: relative;
  top: -3%;
}

#wrapper-menu {
  position: relative;
  top: -3%;
}
#msg-error {
  color: #fff;
  padding-left: 43px;
}

.msg-error-show {
  display: none;
}

.panels-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-between;
  list-style: none;
}
.panels-menu div.food-number {
  width: 70px;
  height: 70px;
  padding-left: 0px;
  padding-top: 10px;
  text-align: center;
  list-style: none;
  margin: 1px;
}

.selected-item {
  border: 3px solid yellow;
}

.img-fluid:hover {
  transform: scale(1.2);
}
#resultados-container {
  border: px solid yellow;
  height: 290px;
  width: 450px;
  margin: 0 auto;
  position: absolute;
  position: relative;
  top: -3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
.set-opacity {
  opacity: 0.6;
  background-color: transparent;
}

#botones-container {
  margin: 3px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px 0px 34px;

  justify-content: space-between;
}

.btn-number {
  margin: 5 px;
  text-align: center;
  display: inline-block;
  width: 50px;
  background-color: #7ee8fa;
}

.reiniciar {
  background-color: #e63946;
}

#counter {
  position: absolute;
  top: 69%;
  width: 20px;
  right: 26%;
  font-size: 20px;
  color: #333;
}
.titulo-pro {
  position: absolute;
  top: -10px;
}
.contenedor-imagenes {
  width: 140px;
  height: 50px;
  margin: 5px;
  position: relative;
  opacity: 1;
  z-index: 999;
}
.contenedor-imagenes img {
}

.img-resultado {
  width: 70px;
  height: 50px;
}
#spinner {
  visibility: hidden;
}

.lds-dual-ring {
  display: inline-block;
  width: 90px;
  height: 80px;
  position: absolute;
  right: 24%;
  top: 66%;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-div {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-div div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-div 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-div div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-div div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-div div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-div {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
